/* max ch: 75 character per line*/


/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

/*styles*/

.container {
    display: grid;
    grid-template: 1fr 2fr 2fr / repeat(4, 1fr);
    grid-template-areas:
        "nav header header header"
        "nav content content announcements"
        "nav content content trending";
}

.nav {
    grid-area: nav;
    color: white;
    text-align: center;
    background-color: rgb(60, 191, 252);
}

.nav .top {
    display: flex;
}
.header {
    grid-area: header;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    grid-template-areas:
    "top-left top-right"
    "bottom-left bottom-right";
}

.top-left {
    grid-area: top-left;
}
.top-right {
    grid-area: top-right;
}
.bottom-left {
    grid-area: bottom-left;
}
.bottom-right {
    grid-area: bottom-right;
}
.content {
    grid-area: content;
    background-color: rgb(222, 226, 230);
}

.announcements {
    grid-area: announcements;
    background-color: rgb(222, 226, 230);
}

.trending {
    grid-area: trending;
    background-color: rgb(222, 226, 230);
}